name: Build and push to Docker Hub and AWS ECR

on:
  push:
    branches:
      - main
jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Update pip
        run: pip install --upgrade pip

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{secrets.DOCKERHUB_USERNAME }}
          password: ${{secrets.DOCKERHUB_TOKEN }}

      - name: Set the Docker image tag
        id: vars
        run: echo "TAG=${GITHUB_SHA::7}" >> $GITHUB_ENV

      - name: Build Docker Image
        run: |
          docker build -t ${{secrets.DOCKERHUB_USERNAME }}/frontend-app:${{env.TAG }} ./SayMyNameProjectFrontend 
          docker build -t ${{secrets.DOCKERHUB_USERNAME }}/backend-app:${{env.TAG }} ./backend

      # Step 5: Tag images for Docker Hub and AWS ECR
      - name: Tag Docker Images for both Docker Hub and AWS ECR
        run: |
          docker tag ${{ secrets.DOCKERHUB_USERNAME }}/frontend-app:${{ env.TAG }} ${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com/frontend-app:${{ env.TAG }}
          docker tag ${{ secrets.DOCKERHUB_USERNAME }}/backend-app:${{ env.TAG }} ${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com/backend-app:${{ env.TAG }}
          
      - name: Push to Docker
        run: |
          docker push ${{secrets.DOCKERHUB_USERNAME }}/frontend-app:${{env.TAG }}
          docker push ${{secrets.DOCKERHUB_USERNAME }}/backend-app:${{env.TAG }}

      - name: Check if frontend-app repository exists
        run: |
          aws ecr describe-repositories --repository-names frontend-app || echo "Repository does not exist."

      - name: Create frontend-app repository if not exists.
        if: ${{ failure() }} # Only runs if the previous step failed
        run: |
            aws ecr create-repository --repository-name frontend-app

      - name: Check if backend-app repository exists
        run: |
          aws ecr describe-repositories --repository-names backend-app || echo "Repository does not exist."

      - name: Create backend-app repository if not exists
        if: ${{ failure() }} # Only runs if the previous step failed
        run: |
          aws ecr create-repository --repository-name backend-app

      - name: push to AWS ECR
        run: |
          docker push ${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com/frontend-app:${{ env.TAG }}
          docker push ${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com/backend-app:${{ env.TAG }}
      
