name: Build and push to Docker Hub and AWS ECR

on:
  push:
    branches:
      - main
jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Update pip
        run: pip install --upgrade pip

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{secrets.DOCKERHUB_USERNAME }}
          password: ${{secrets.DOCKERHUB_TOKEN }}

      - name: Set the Docker image tag
        id: vars
        run: echo "TAG=${GITHUB_SHA::7}" >> $GITHUB_ENV

      - name: Build Docker Image
        run: |
          docker build -t username/frontend-app:${{env.TAG }} ./SayMyNameProjectFrontend 
          docker push username/frontend-app:latest
          docker build -t username/backend-app:${{env.TAG }} ./backend
          docker push username/backend-app:latest
      
